<div xmlns:th="http://www.thymeleaf.org" th:fragment="base_head">
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="expires" content="0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge chrome=1"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- content的取值为webkit,ie-comp,ie-stand之一，区分大小写，分别代表用webkit内核，IE兼容内核，IE标准内核 -->
    <meta name="renderer" content="webkit">

    <!--让favicon.ico显示有效-->
    <link rel="shortcut icon" th:href="@{/favicon.ico}"/>

    <!-- 1、引入JQuery, 注意JQuery的引入要在jquery.easyui.min.js引入之前，否则会出问题-->
    <script type="text/javascript" th:src="@{/js/jquery-extensions/jquery/jquery-2.1.1.js}"></script>

    <!--2、引入EasyUI的扩展样式文件,默认皮肤为metro-blue-->
    <link rel="stylesheet" type="text/css" th:href="@{/js/jquery-extensions/jquery-easyui-theme/metro-blue/easyui.css}"/>

    <!-- 3、引入EasyUI的图标样式文件-->
    <link rel="stylesheet" type="text/css" th:href="@{/js/jquery-extensions/jquery-easyui-theme/icon.css}"/>

    <!--4、引入EasyUI -->
    <script type="text/javascript" th:src="@{/js/jquery-extensions/jquery-easyui-1.3.6/jquery.easyui.min.js}"></script>

    <!--引入EasyUI的扩展validatebox插件，这个插件重新定义了默认的值，messingMessage的值就在这里被重写了，这个扩展的validatebox插件应该放在jquery.easyui.min.js的后面，不然就达不到重写的意义！！ -->
    <script type="text/javascript" th:src="@{/js/jquery-extensions/jquery-easyui-1.3.6/src/jquery.validatebox.js}"></script>

    <!--5、引入EasyUI的中文国际化js，让EasyUI支持中文（可选） -->
    <script type="text/javascript" th:src="@{/js/jquery-extensions/jquery-easyui-1.3.6/locale/easyui-lang-zh_CN.js}"></script>

    <!--6、引入 jquery.jdirk 基础扩展库（jquery的基础扩展库） -->
    <script type="text/javascript" th:src="@{/js/jquery-extensions/jquery.jdirk.js}"></script>

    <!--<script src="${pageContext.request.contextPath}/JSSource/jquery-extensions/release/jquery.jdirk.min.js"></script>-->

    <!--7、引入 jquery-easyui 扩展图标库 的css文件(可选) -->
    <link rel="stylesheet" type="text/css" th:href="@{/js/jquery-extensions/icons/icon-all.css}"/>

    <!--8、引入 jquery-easyui 扩展图标库 的js文件(可选) -->
    <script type="text/javascript" th:src="@{/js/jquery-extensions/icons/jeasyui.icons.all.js}"></script>

    <!--9、引入 jquery-easyui-extensions 插件扩展库 的css文件 -->
    <link rel="stylesheet" type="text/css" th:href="@{/js/jquery-extensions/jeasyui-extensions/jeasyui.extensions.css}"/>

    <!--10、引入 jquery-easyui-extensions 插件扩展库 的js文件 -->
    <script type="text/javascript" th:src="@{/js/jquery-extensions/release/jeasyui.extensions.all.min.js}"></script>

    <!--jeasyui和bootstrap不能一起用，兼容性不好，界面容易出现不可预料的问题-->
    <!--本项目用到了部分simpleBootstrap.css的样式-->
    <link rel="stylesheet" type="text/css" th:href="@{/js/bootstrap/css/simpleBootstrap.css}"/>


    <!--&lt;!&ndash;引入bootstrap样式&ndash;&gt;-->
    <!--&lt;!&ndash;引入bootstrap.css，不能有rel属性，原因不明&ndash;&gt;-->
    <!--<link href="/JSSource/bootstrap-3.3.7-dist/css/bootstrap.css" rel="stylesheet"  type="text/css"/>-->
    <!--<script src="JSSource/bootstrap-3.3.7-dist/js/bootstrap.js" type="text/javascript"></script>-->
    <!---->

    <!--<%&#45;&#45;<script src="${pageContext.request.contextPath}/JSSource/jquery-extensions/jeasyui-extensions/jeasyui.extensions.js"&#45;&#45;%>-->
    <!--<%&#45;&#45;type="text/javascript"></script>&#45;&#45;%>-->
    <!--<%&#45;&#45;<script src="${pageContext.request.contextPath}/JSSource/jquery-extensions/jeasyui-extensions/jeasyui.extensions.progressbar.js"></script>&#45;&#45;%>-->
    <!--<%&#45;&#45;<script src="${pageContext.request.contextPath}/JSSource/jquery-extensions/jeasyui-extensions/jeasyui.extensions.slider.js"></script>&#45;&#45;%>-->
    <!--<%&#45;&#45;<script src="${pageContext.request.contextPath}/JSSource/jquery-extensions/jeasyui-extensions/jeasyui.extensions.linkbutton.js"&#45;&#45;%>-->
    <!--<%&#45;&#45;type="text/javascript"></script>&#45;&#45;%>-->
    <!--<%&#45;&#45;<script src="${pageContext.request.contextPath}/JSSource/jquery-extensions/jeasyui-extensions/jeasyui.extensions.form.js"&#45;&#45;%>-->
    <!--<%&#45;&#45;type="text/javascript"></script>&#45;&#45;%>-->

    <!--引入EasyUI扩展的validatebox插件，其中包含扩展了部分jeasyui.extensions.all.min.js没有包含的validateType验证类型，这个插件比jeasyui.extensions.all.min.js总插件中的validatebox插件要更全！！，这个插件需要在jeasyui.extensions.all.min.js之后引入，覆盖jeasyui.extensions.all.min.js中的全部validatebox插件 -->
    <script type="text/javascript" th:src="@{/js/jquery-extensions/jeasyui-extensions/jeasyui.extensions.validatebox.js}"></script>

    <!--<%&#45;&#45;<script src="${pageContext.request.contextPath}/JSSource/jquery-extensions/jeasyui-extensions/jeasyui.extensions.combo.js"&#45;&#45;%>-->
    <!--<%&#45;&#45;type="text/javascript"></script>&#45;&#45;%>-->
    <!--<%&#45;&#45;<script src="${pageContext.request.contextPath}/JSSource/jquery-extensions/jeasyui-extensions/jeasyui.extensions.combobox.js"&#45;&#45;%>-->
    <!--<%&#45;&#45;type="text/javascript"></script>&#45;&#45;%>-->
    <!--<%&#45;&#45;<script src="${pageContext.request.contextPath}/JSSource/jquery-extensions/jeasyui-extensions/jeasyui.extensions.menu.js"&#45;&#45;%>-->
    <!--<%&#45;&#45;type="text/javascript"></script>&#45;&#45;%>-->
    <!--<%&#45;&#45;<script src="${pageContext.request.contextPath}/JSSource/jquery-extensions/jeasyui-extensions/jeasyui.extensions.searchbox.js"&#45;&#45;%>-->
    <!--<%&#45;&#45;type="text/javascript"></script>&#45;&#45;%>-->
    <!--<%&#45;&#45;<script src="${pageContext.request.contextPath}/JSSource/jquery-extensions/jeasyui-extensions/jeasyui.extensions.panel.js"&#45;&#45;%>-->
    <!--<%&#45;&#45;type="text/javascript"></script>&#45;&#45;%>-->
    <!--<%&#45;&#45;<script src="${pageContext.request.contextPath}/JSSource/jquery-extensions/jeasyui-extensions/jeasyui.extensions.window.js"&#45;&#45;%>-->
    <!--<%&#45;&#45;type="text/javascript"></script>&#45;&#45;%>-->
    <!--<%&#45;&#45;<script src="${pageContext.request.contextPath}/JSSource/jquery-extensions/jeasyui-extensions/jeasyui.extensions.dialog.js"&#45;&#45;%>-->
    <!--<%&#45;&#45;type="text/javascript"></script>&#45;&#45;%>-->
    <!--<%&#45;&#45;<script src="${pageContext.request.contextPath}/JSSource/jquery-extensions/jeasyui-extensions/jeasyui.extensions.layout.js"&#45;&#45;%>-->
    <!--<%&#45;&#45;type="text/javascript"></script>&#45;&#45;%>-->
    <!--<%&#45;&#45;<script src="${pageContext.request.contextPath}/JSSource/jquery-extensions/jeasyui-extensions/jeasyui.extensions.tree.js"&#45;&#45;%>-->
    <!--<%&#45;&#45;type="text/javascript"></script>&#45;&#45;%>-->
    <!--<%&#45;&#45;<script src="${pageContext.request.contextPath}/JSSource/jquery-extensions/jeasyui-extensions/jeasyui.extensions.datagrid.js"&#45;&#45;%>-->
    <!--<%&#45;&#45;type="text/javascript"></script>&#45;&#45;%>-->
    <!--<%&#45;&#45;<script src="${pageContext.request.contextPath}/JSSource/jquery-extensions/jeasyui-extensions/jeasyui.extensions.treegrid.js"&#45;&#45;%>-->
    <!--<%&#45;&#45;type="text/javascript"></script>&#45;&#45;%>-->
    <!--<%&#45;&#45;<script src="${pageContext.request.contextPath}/JSSource/jquery-extensions/jeasyui-extensions/jeasyui.extensions.combogrid.js"&#45;&#45;%>-->
    <!--<%&#45;&#45;type="text/javascript"></script>&#45;&#45;%>-->
    <!--<%&#45;&#45;<script src="${pageContext.request.contextPath}/JSSource/jquery-extensions/jeasyui-extensions/jeasyui.extensions.combotree.js"&#45;&#45;%>-->
    <!--<%&#45;&#45;type="text/javascript"></script>&#45;&#45;%>-->
    <!--<%&#45;&#45;<script src="${pageContext.request.contextPath}/JSSource/jquery-extensions/jeasyui-extensions/jeasyui.extensions.tabs.js"&#45;&#45;%>-->
    <!--<%&#45;&#45;type="text/javascript"></script>&#45;&#45;%>-->
    <!--<%&#45;&#45;<script src="${pageContext.request.contextPath}/JSSource/jquery-extensions/jeasyui-extensions/jeasyui.extensions.theme.js"&#45;&#45;%>-->
    <!--<%&#45;&#45;type="text/javascript"></script>&#45;&#45;%>-->
    <!--<%&#45;&#45;<script src="${pageContext.request.contextPath}/JSSource/jquery-extensions/jeasyui-extensions/jeasyui.extensions.icons.js"&#45;&#45;%>-->
    <!--<%&#45;&#45;type="text/javascript"></script>&#45;&#45;%>-->
    <!--<%&#45;&#45;<script src="${pageContext.request.contextPath}/JSSource/jquery-extensions/jeasyui-extensions/jeasyui.extensions.gridselector.js"&#45;&#45;%>-->
    <!--<%&#45;&#45;type="text/javascript"></script>&#45;&#45;%>-->
    <!--<%&#45;&#45;<script src="${pageContext.request.contextPath}/JSSource/jquery-extensions/jeasyui-extensions/jquery.toolbar.js"&#45;&#45;%>-->
    <!--<%&#45;&#45;type="text/javascript"></script>&#45;&#45;%>-->
    <!--<%&#45;&#45;<script src="${pageContext.request.contextPath}/JSSource/jquery-extensions/jeasyui-extensions/jquery.comboicons.js"&#45;&#45;%>-->
    <!--<%&#45;&#45;type="text/javascript"></script>&#45;&#45;%>-->
    <!--<%&#45;&#45;<script src="${pageContext.request.contextPath}/JSSource/jquery-extensions/jeasyui-extensions/jquery.comboselector.js"&#45;&#45;%>-->
    <!--<%&#45;&#45;type="text/javascript"></script>&#45;&#45;%>-->
    <!--<%&#45;&#45;<script src="${pageContext.request.contextPath}/JSSource/jquery-extensions/jeasyui-extensions/jquery.my97.js"&#45;&#45;%>-->
    <!--<%&#45;&#45;type="text/javascript"></script>&#45;&#45;%>-->
    <!--<%&#45;&#45;<script src="${pageContext.request.contextPath}/JSSource/jquery-extensions/jeasyui-extensions/jquery.euploadify.js"&#45;&#45;%>-->
    <!--<%&#45;&#45;type="text/javascript"></script>&#45;&#45;%>-->
    <!--<%&#45;&#45;<script src="${pageContext.request.contextPath}/JSSource/jquery-extensions/jeasyui-extensions/jquery.portal.js"&#45;&#45;%>-->
    <!--<%&#45;&#45;type="text/javascript"></script>&#45;&#45;%>-->

    <!--引入日期插件-->
    <script type="text/javascript" th:src="@{/js/jquery-extensions/plugins/My97DatePicker/WdatePicker.js}"></script>

    <!--<%&#45;&#45;<link href="${pageContext.request.contextPath}/JSSource/jquery-extensions/plugins/uploadify/uploadify.css"&#45;&#45;%>-->
    <!--<%&#45;&#45;rel="stylesheet" type="text/css"/>&#45;&#45;%>-->
    <!--<%&#45;&#45;<script src="${pageContext.request.contextPath}/JSSource/jquery-extensions/plugins/uploadify/jquery.uploadify.min.js"&#45;&#45;%>-->
    <!--<%&#45;&#45;type="text/javascript"></script>&#45;&#45;%>-->

    <script type="text/javascript" th:src="@{/js/extEasyUI.js}"></script>
    <script type="text/javascript" th:src="@{/js/extJquery.js}"></script>
    <script type="text/javascript" th:src="@{/js/echarts.min.js}"></script>

    <!--<%&#45;&#45;<script src="${pageContext.request.contextPath}/JSSource/highcharts.js" type="text/javascript"></script>&#45;&#45;%>-->
    <!--<%&#45;&#45;<script src="${pageContext.request.contextPath}/JSSource/mathJAX/MathJax.js" type="text/javascript"></script>&#45;&#45;%>-->

    <script type="text/javascript">
        // //判断浏览器引入不同的CSS文件
        // <%--if ($.util.browser.msie) {--%>
        // <%--if ($.util.browser.version == "7.0" || $.util.browser.version == "8.0" || $.util.browser.version == "9.0") {--%>
        // <%--document.write("<link href=\"${pageContext.request.contextPath}/styles/css/base_IE.css\" rel=\"stylesheet\" type=\"text/css\" />");--%>
        // <%--} else {--%>
        // <%--document.write("<link href=\"${pageContext.request.contextPath}/styles/css/base.css\" rel=\"stylesheet\" type=\"text/css\" />");--%>
        // <%--}--%>
        // <%--} else {--%>
        // <%--document.write("<link href=\"${pageContext.request.contextPath}/styles/css/base.css\" rel=\"stylesheet\" type=\"text/css\" />");--%>
        // <%--}--%>
        //
        // //    //注释掉这部分（主题皮肤选择），使用默认的主题皮肤(metro_blue)
        // //    var themeName = "default";
        // //    if (!$.string.isNullOrWhiteSpace(themeName)) {
        // //        $.easyui.theme(true, themeName);
        // //    }
    </script>

    <!--获取项目根路径-->
    <script type="text/javascript">
        var _ctxPath = "[[${#request.scheme}]]://[[${#request.serverName}]]:[[${#request.serverPort}]][[${#request.contextPath}]]";
    </script>
</div>